{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
set -eu

export PATH="/opt/homebrew/bin:/usr/local/bin:$PATH"

brew install \
  btop \
  starship \
  vim \
  zsh \
  zsh-autosuggestions \
  zsh-completions \
  zsh-syntax-highlighting
brew install --cask \
  font-noto-color-emoji \
  font-noto-sans-mono-cjk-jp \
  font-space-mono-nerd-font \
  ghostty \
  zed
{{ end -}}
