{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
#!/bin/sh
set -eu

sudo pacman -S --needed --noconfirm \
  blueman \
  bluez \
  bluez-utils \
  breeze-icons \
  btop \
  brightnessctl \
  cliphist \
  curl \
  fcitx5 \
  fcitx5-gtk \
  fcitx5-qt \
  fcitx5-skk \
  firefox \
  fuzzel \
  ghostty \
  grim \
  gvfs \
  hyprland \
  hypridle \
  hyprlock \
  hyprpwcenter \
  imagemagick \
  ly \
  mako \
  networkmanager \
  nm-connection-editor \
  noto-fonts-cjk \
  noto-fonts-emoji \
  nwg-displays \
  nwg-look \
  pipewire \
  pipewire-pulse \
  playerctl \
  qt5-wayland \
  qt5ct \
  qt6-wayland \
  qt6ct \
  slurp \
  starship \
  terminus-font \
  thunar \
  thunar-archive-plugin \
  thunar-volman \
  ttf-liberation \
  ttf-space-mono-nerd \
  tumbler \
  vim \
  waybar \
  wireplumber \
  wl-clipboard \
  xarchiver \
  xdg-desktop-portal \
  xdg-desktop-portal-hyprland \
  xdg-utils \
  zed \
  zsh \
  zsh-autosuggestions \
  zsh-completions \
  zsh-syntax-highlighting

if [ "${SHELL:-}" != /usr/bin/zsh ]; then
  chsh -s /usr/bin/zsh
fi

sudo systemctl disable getty@tty2.service
sudo systemctl enable --now bluetooth.service
sudo systemctl enable ly@tty2.service
sudo systemctl enable NetworkManager.service
systemctl --user enable --now mpris-proxy.service
{{ end -}}
