[Appearance]
color_scheme_path={{ .chezmoi.homeDir }}/.config/qt/themes/catppuccin-latte-mauve.conf
custom_palette=true
icon_theme=breeze-mauve
standard_dialogs=default
style=Fusion

[Fonts]
fixed="SpaceMono Nerd Font,11,-1,5,400,0,0,0,0,0,0,0,0,0,0,1"
general="SpaceMono Nerd Font,11,-1,5,400,0,0,0,0,0,0,0,0,0,0,1"

[Interface]
dialog_buttons_have_icons=1
menus_have_icons=true
show_shortcuts_in_context_menus=true
stylesheets={{ .chezmoi.homeDir }}/.config/qt/themes/catppuccin-latte-mauve-square.qss
